<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-kyc-credential-heading"
        data-cy="KycCredentialCreateUpdateHeading"
        jhiTranslate="kycNetworkApp.kycCredential.home.createOrEditLabel"
      >
        Create or edit a Kyc Credential
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="kycNetworkApp.kycCredential.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let issuedDateRef = editForm.get('issuedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_issuedDate" jhiTranslate="kycNetworkApp.kycCredential.issuedDate">Issued Date</label>
          <div class="d-flex">
            <input
              id="field_issuedDate"
              data-cy="issuedDate"
              type="datetime-local"
              class="form-control"
              name="issuedDate"
              formControlName="issuedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (issuedDateRef.invalid && (issuedDateRef.dirty || issuedDateRef.touched)) {
            <div>
              @if (editForm.get('issuedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('issuedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let expiryDateRef = editForm.get('expiryDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_expiryDate" jhiTranslate="kycNetworkApp.kycCredential.expiryDate">Expiry Date</label>
          <div class="d-flex">
            <input
              id="field_expiryDate"
              data-cy="expiryDate"
              type="datetime-local"
              class="form-control"
              name="expiryDate"
              formControlName="expiryDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (expiryDateRef.invalid && (expiryDateRef.dirty || expiryDateRef.touched)) {
            <div>
              @if (editForm.get('expiryDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('expiryDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="kycNetworkApp.kycCredential.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'kycNetworkApp.CredentialStatus.null' | translate }}</option>
            @for (credentialStatus of credentialStatusValues; track $index) {
              <option [value]="credentialStatus">{{ 'kycNetworkApp.CredentialStatus.' + credentialStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_levelOfVerification" jhiTranslate="kycNetworkApp.kycCredential.levelOfVerification"
            >Level Of Verification</label
          >
          <input
            type="text"
            class="form-control"
            name="levelOfVerification"
            id="field_levelOfVerification"
            data-cy="levelOfVerification"
            formControlName="levelOfVerification"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_schemaVersion" jhiTranslate="kycNetworkApp.kycCredential.schemaVersion"
            >Schema Version</label
          >
          <input
            type="text"
            class="form-control"
            name="schemaVersion"
            id="field_schemaVersion"
            data-cy="schemaVersion"
            formControlName="schemaVersion"
          />
        </div>

        @let credentialHashRef = editForm.get('credentialHash')!;
        <div class="mb-3">
          <label class="form-label" for="field_credentialHash" jhiTranslate="kycNetworkApp.kycCredential.credentialHash"
            >Credential Hash</label
          >
          <input
            type="text"
            class="form-control"
            name="credentialHash"
            id="field_credentialHash"
            data-cy="credentialHash"
            formControlName="credentialHash"
          />
          @if (credentialHashRef.invalid && (credentialHashRef.dirty || credentialHashRef.touched)) {
            <div>
              @if (editForm.get('credentialHash')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let signatureRef = editForm.get('signature')!;
        <div class="mb-3">
          <label class="form-label" for="field_signature" jhiTranslate="kycNetworkApp.kycCredential.signature">Signature</label>
          <input type="text" class="form-control" name="signature" id="field_signature" data-cy="signature" formControlName="signature" />
          @if (signatureRef.invalid && (signatureRef.dirty || signatureRef.touched)) {
            <div>
              @if (editForm.get('signature')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_issuer" jhiTranslate="kycNetworkApp.kycCredential.issuer">Issuer</label>
          <select
            class="form-control"
            id="field_issuer"
            data-cy="issuer"
            name="issuer"
            formControlName="issuer"
            [compareWith]="compareBank"
          >
            <option [ngValue]="null"></option>
            @for (bankOption of banksSharedCollection; track $index) {
              <option [ngValue]="bankOption">{{ bankOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="kycNetworkApp.kycCredential.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
