<div>
  <h2 id="page-heading" data-cy="KycConsentHeading">
    <span jhiTranslate="kycNetworkApp.kycConsent.home.title">Kyc Consents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="kycNetworkApp.kycConsent.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-kyc-consent"
        [routerLink]="['/kyc-consent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kycNetworkApp.kycConsent.home.createLabel">Create a new Kyc Consent</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (kycConsents().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="kycNetworkApp.kycConsent.home.notFound">No Kyc Consents found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="consentToken">
              <div class="d-flex">
                <span jhiTranslate="kycNetworkApp.kycConsent.consentToken">Consent Token</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="consentGivenAt">
              <div class="d-flex">
                <span jhiTranslate="kycNetworkApp.kycConsent.consentGivenAt">Consent Given At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expiresAt">
              <div class="d-flex">
                <span jhiTranslate="kycNetworkApp.kycConsent.expiresAt">Expires At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isRevoked">
              <div class="d-flex">
                <span jhiTranslate="kycNetworkApp.kycConsent.isRevoked">Is Revoked</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="revokedAt">
              <div class="d-flex">
                <span jhiTranslate="kycNetworkApp.kycConsent.revokedAt">Revoked At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.id">
              <div class="d-flex">
                <span jhiTranslate="kycNetworkApp.kycConsent.customer">Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="issuerBank.id">
              <div class="d-flex">
                <span jhiTranslate="kycNetworkApp.kycConsent.issuerBank">Issuer Bank</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="recipientBank.id">
              <div class="d-flex">
                <span jhiTranslate="kycNetworkApp.kycConsent.recipientBank">Recipient Bank</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (kycConsent of kycConsents(); track trackId(kycConsent)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/kyc-consent', kycConsent.id, 'view']">{{ kycConsent.id }}</a>
              </td>
              <td>{{ kycConsent.consentToken }}</td>
              <td>{{ kycConsent.consentGivenAt | formatMediumDatetime }}</td>
              <td>{{ kycConsent.expiresAt | formatMediumDatetime }}</td>
              <td>{{ kycConsent.isRevoked }}</td>
              <td>{{ kycConsent.revokedAt | formatMediumDatetime }}</td>
              <td>
                @if (kycConsent.customer) {
                  <div>
                    <a [routerLink]="['/customer', kycConsent.customer.id, 'view']">{{ kycConsent.customer.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (kycConsent.issuerBank) {
                  <div>
                    <a [routerLink]="['/bank', kycConsent.issuerBank.id, 'view']">{{ kycConsent.issuerBank.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (kycConsent.recipientBank) {
                  <div>
                    <a [routerLink]="['/bank', kycConsent.recipientBank.id, 'view']">{{ kycConsent.recipientBank.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/kyc-consent', kycConsent.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/kyc-consent', kycConsent.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(kycConsent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (kycConsents().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
