<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transaction-heading"
        data-cy="TransactionCreateUpdateHeading"
        jhiTranslate="kycNetworkApp.transaction.home.createOrEditLabel"
      >
        Create or edit a Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="kycNetworkApp.transaction.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let transactionRefRef = editForm.get('transactionRef')!;
        <div class="mb-3">
          <label class="form-label" for="field_transactionRef" jhiTranslate="kycNetworkApp.transaction.transactionRef"
            >Transaction Ref</label
          >
          <input
            type="text"
            class="form-control"
            name="transactionRef"
            id="field_transactionRef"
            data-cy="transactionRef"
            formControlName="transactionRef"
          />
          @if (transactionRefRef.invalid && (transactionRefRef.dirty || transactionRefRef.touched)) {
            <div>
              @if (editForm.get('transactionRef')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let amountRef = editForm.get('amount')!;
        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="kycNetworkApp.transaction.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (amountRef.invalid && (amountRef.dirty || amountRef.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('amount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let currencyRef = editForm.get('currency')!;
        <div class="mb-3">
          <label class="form-label" for="field_currency" jhiTranslate="kycNetworkApp.transaction.currency">Currency</label>
          <input type="text" class="form-control" name="currency" id="field_currency" data-cy="currency" formControlName="currency" />
          @if (currencyRef.invalid && (currencyRef.dirty || currencyRef.touched)) {
            <div>
              @if (editForm.get('currency')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let timestampRef = editForm.get('timestamp')!;
        <div class="mb-3">
          <label class="form-label" for="field_timestamp" jhiTranslate="kycNetworkApp.transaction.timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (timestampRef.invalid && (timestampRef.dirty || timestampRef.touched)) {
            <div>
              @if (editForm.get('timestamp')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('timestamp')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="kycNetworkApp.transaction.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'kycNetworkApp.TransactionStatus.null' | translate }}</option>
            @for (transactionStatus of transactionStatusValues; track $index) {
              <option [value]="transactionStatus">{{ 'kycNetworkApp.TransactionStatus.' + transactionStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="kycNetworkApp.transaction.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_originator" jhiTranslate="kycNetworkApp.transaction.originator">Originator</label>
          <select
            class="form-control"
            id="field_originator"
            data-cy="originator"
            name="originator"
            formControlName="originator"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_beneficiary" jhiTranslate="kycNetworkApp.transaction.beneficiary">Beneficiary</label>
          <select
            class="form-control"
            id="field_beneficiary"
            data-cy="beneficiary"
            name="beneficiary"
            formControlName="beneficiary"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_originatorBank" jhiTranslate="kycNetworkApp.transaction.originatorBank"
            >Originator Bank</label
          >
          <select
            class="form-control"
            id="field_originatorBank"
            data-cy="originatorBank"
            name="originatorBank"
            formControlName="originatorBank"
            [compareWith]="compareBank"
          >
            <option [ngValue]="null"></option>
            @for (bankOption of banksSharedCollection; track $index) {
              <option [ngValue]="bankOption">{{ bankOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_beneficiaryBank" jhiTranslate="kycNetworkApp.transaction.beneficiaryBank"
            >Beneficiary Bank</label
          >
          <select
            class="form-control"
            id="field_beneficiaryBank"
            data-cy="beneficiaryBank"
            name="beneficiaryBank"
            formControlName="beneficiaryBank"
            [compareWith]="compareBank"
          >
            <option [ngValue]="null"></option>
            @for (bankOption of banksSharedCollection; track $index) {
              <option [ngValue]="bankOption">{{ bankOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
