<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (kycCredential(); as kycCredentialRef) {
      <div>
        <h2 data-cy="kycCredentialDetailsHeading"><span jhiTranslate="kycNetworkApp.kycCredential.detail.title">Kyc Credential</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ kycCredentialRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.issuedDate">Issued Date</span></dt>
          <dd>
            <span>{{ kycCredentialRef.issuedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.expiryDate">Expiry Date</span></dt>
          <dd>
            <span>{{ kycCredentialRef.expiryDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'kycNetworkApp.CredentialStatus.' + (kycCredentialRef.status ?? 'null')">{{
              { null: '', VALID: 'VALID', EXPIRED: 'EXPIRED', REVOKED: 'REVOKED' }[kycCredentialRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.levelOfVerification">Level Of Verification</span></dt>
          <dd>
            <span>{{ kycCredentialRef.levelOfVerification }}</span>
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.schemaVersion">Schema Version</span></dt>
          <dd>
            <span>{{ kycCredentialRef.schemaVersion }}</span>
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.credentialHash">Credential Hash</span></dt>
          <dd>
            <span>{{ kycCredentialRef.credentialHash }}</span>
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.signature">Signature</span></dt>
          <dd>
            <span>{{ kycCredentialRef.signature }}</span>
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.issuer">Issuer</span></dt>
          <dd>
            @if (kycCredential()!.issuer) {
              <div>
                <a [routerLink]="['/bank', kycCredential()!.issuer?.id, 'view']">{{ kycCredentialRef.issuer?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="kycNetworkApp.kycCredential.customer">Customer</span></dt>
          <dd>
            @if (kycCredential()!.customer) {
              <div>
                <a [routerLink]="['/customer', kycCredential()!.customer?.id, 'view']">{{ kycCredentialRef.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/kyc-credential', kycCredentialRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
